body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.notification {
  border-radius: 0.5em;
  border: 3px solid;
  font-size: 1em;
  margin: 1em;
  max-width: 40%;
  min-width: 200px;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.notification--error {
  background-color: hsl(0, 100%, 90%);
  color: hsl(0, 100%, 50%);
}

.notification--success {
  background-color: hsl(120, 100%, 90%);
  color: hsl(120, 100%, 25%);
}
